@page "/TestBlazorise"
@inherits BlazorPageBase
    <Row>
        <Column>
            <Card Margin="Margin.Is4.OnY" Padding="Padding.Is2.OnY">
                <CardHeader>
                    <CardTitle>Testing Blazorize Framework</CardTitle>
                </CardHeader>
                <CardBody>
                    @*Code For Spinner*@
                    <div class="text-center" style="vertical-align:middle">
                        <div class="spinner-border text-primary" rolse="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <FieldLabel ColumnSize="ColumnSize.Is12.OnDesktop">
                        <FieldLabel>Testing Blazorise</FieldLabel>
                        <TextEdit ChangeTextOnKeyPress="false" @bind-Text="dataforTextBox" />
                    </FieldLabel>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is4.OnTablet.Is3.OnWidescreen.Is12.OnMobile">
            <Card Margin="Margin.Is4.OnY">
                <CardImage Source="assets/images/gallery/9.jpg" Alt="Placeholder image">
                </CardImage>
                <CardBody>
                    <CardTitle Size="5">Card title</CardTitle>
                    <CardText>
                        Some quick example text to build on the card title and make up the bulk of the card's content.
                    </CardText>
                    <Button Color="Blazorise.Color.Primary" Clicked="@ButtonClick">Button</Button>
                </CardBody>
            </Card>
        </Column>
    </Row>
    <Blazorise.Modal @ref="this.MacoRef" Closing="@OnModalClosing">
        <ModalContent Style="width:80px; align-content:center" Centered="@true" Class="modal-dialog modal-dialog-centered">
            <ModalBody MaxHeight="@this.maxheight">
                <div class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </ModalBody>
        </ModalContent>
    </Blazorise.Modal>
    @code {
        string dataforTextBox = "Shravan";
        private int? maxheight = 20;
    }
